* {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.container {
    display: flex;
    background-color: #0a0e27;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container{
    background-color: #0a0e27;
    border-left: 1px solid grey;
}

.sidebar {
    height: 80vh;
}
.inf {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.inf h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.inf p {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.conteudo-forms {
    background-image: url(../img/mar.png);

    h3 {
        font-size: 1rem;
    margin-left: 17rem;
    }
}

.forms {
    display: flex;
    justify-content: center;
}

.infos-pessoais {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    margin-bottom: 5px;
    margin-top: 1.7rem;
    font-weight: bold;
    justify-content: center;
    font-size: 1.2rem;
}

.campo input {
    width: 23rem;
    border-radius: 5rem;
    color: black;
    font-size: 1.3rem;
    padding: 0.3rem;
}

.mensagem textarea {
    width: 23rem;
    height: 12.5rem;
    border-radius: 2rem;
    color: black;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.botao {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

    .btn {
        font-size: 1rem;
        background-color: #219CC1;
        padding: 0.8rem;
        border-radius: 2rem;
    }
}

.form-sections {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.equip {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.equip h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.equip p {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.colaboradores {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
}

.colaborador{

    .imagem{
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        border: white 3px solid;
}
}

.colaborador {
    text-align: center;
    font-size: 1.5rem;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.linkedin {
    background-color: #003EDE;
    border-radius: 5rem;
    border: white 1px solid;
    padding: 0.5rem;
}

.github {
    background-color: #428992;
    border-radius: 5rem;
    border: white 1px solid;
    padding: 0.5rem;
    margin-top: 10rem;
}

@media (max-width: 576px) {
    .inf h1 {
        font-size: 1.75rem;
    }

    .inf p {
        font-size: 1.2rem;
    }

    .form-sections {
        flex-direction: column;
    }

    .campo input, .mensagem textarea {
        width: 100%;
    }

    .colaboradores {
        flex-direction: column;
    }

    .colaborador .imagem {
        width: 12rem;
        height: 12rem;
    }

    .colaborador {
        font-size: 1rem;
    }

    .linkedin {
        background-color: #003EDE;
        border-radius: 5rem;
        border: white 1px solid;
        padding: 0.7rem;
    }
    
    .github {
        background-color: #428992;
        border-radius: 5rem;
        border: white 1px solid;
        padding: 0.7rem;
        margin-top: 10rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .inf h1 {
        font-size: 2rem;
    }

    .inf p {
        font-size: 1.3rem;
    }

    .form-sections {
        flex-direction: column;
    }

    .campo input,.mensagem textarea {
        width: 20rem;
    }

    .colaboradores {
        flex-direction: column;
    }

    .colaborador .imagem {
        width: 13rem;
        height: 13rem;
    }

    .colaborador {
        font-size: 1.25rem;
    }
}
