* {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
}


.container {
    display: flex;
    background-color: #0a0e27;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container{
    background-color: #0a0e27;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    align-items: center;
}

.welcome h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.welcome p {
    font-size: 1.5rem;
    margin-bottom: 5rem ;
}

.tabelas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
}

.first-part {
    display: flex;
    align-items: center;
}

.garrafas, .papeis {
    background-color: #2288FF;
    border-radius: 2rem;
    width: 22rem;
    height: 12rem;
    margin-right: 3rem;
}

.garrafas h3, .papeis h3 {
    margin: 1rem;
    font-size: 1.5rem;
}

.garrafas p, .papeis p {
    font-size: 1.4rem;
}

.papeis {
    margin-right: 0;
    margin-left: 3rem;
}

.second-part {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.latas, .vidro {
    background-color: #2288FF;
    border-radius: 2rem;
    width: 22rem;
    height: 12rem;
    margin-right: 3rem;
}

.latas h3, .vidro h3 {
    margin: 1rem;
    font-size: 1.5rem;
}

.latas p, .vidro p {
    font-size: 1.4rem;
}

.vidro {
    margin-right: 0;
    margin-left: 3rem;
}

.vouchers {
    z-index: 2;
}

.title {
    display: flex;
    align-items: center;
    border-top: 2px solid #ccc;
    padding-top: 10px;
    margin-top: 2rem;
    margin-bottom: 20px;
    background-color: #0a0e27;
}

.title h3 {
    font-size: 24px;
    margin: 0;
}


.title {
    color: beige;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 1.7rem;
}

.tabs {
    display: flex;
    justify-content: center;
}

.cinema, .book, .restaurante {
    background-color: #BEEFFF;
    border-radius: 2rem;
    width: 13rem;
    height: 12rem;
    margin-top: 2rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cinema img, .book img, .restaurante img {
    margin-top: 1rem;
}

.cinema h3, .book h3, .restaurante h3 {
    color: black;
}

.cinema button, .book button, .restaurante button {
    background-color: #001D48;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    height: 3rem;
}

.cinema button img, .book button img, .restaurante button img{
    margin-top: 0;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.first-discounts {
    display: flex;
    justify-content: center;
}

.second-discounts {
    display: flex;
    justify-content: center;
}

.discount-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.porcent {
    background-color: #BEEFFF;
    border-radius: 2rem;
    width: 15rem;
    height: 12rem;
    margin-top: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.porcent h3 {
    color: black;
    text-align: center;
}

.porcent button {
    background-color: #001D48;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    height: 3rem;
}

.porcent button  img{
    margin-top: 0;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.porcent-10, .porcent-20, .porcent-last, .porcent-roupas {
    background-color: #BEEFFF;
    border-radius: 2rem;
    width: 15rem;
    height: 12rem;
    margin-top: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.porcent-10 h3 {
    color: black;
    text-align: center;
}

.porcent-10 button {
    background-color: #001D48;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    height: 3rem;
}

.porcent-10 button  img{
    margin-top: 0;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.porcent-20 h3 {
    color: black;
    text-align: center;
}

.porcent-20 button {
    background-color: #001D48;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    height: 3rem;
}

.porcent-20 button  img{
    margin-top: 0;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.porcent-last h3 {
    color: black;
    text-align: center;
}

.porcent-last button {
    background-color: #001D48;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    height: 3rem;
}

.porcent-last button  img{
    margin-top: 0;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.porcent-roupas h3 {
    color: black;
    text-align: center;
}

.porcent-roupas button {
    background-color: #001D48;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    height: 3rem;
}

.porcent-roupas button  img{
    margin-top: 0;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.porcent img {
    margin-top: 1rem;
}

.porcent-10 img, .porcent-20 img, .porcent-last img, .porcent-roupas img {
    margin-top: 0.5rem;
}

.second-discounts {
    margin-bottom: 4rem;
}
.main-container{
    background-color: #0a0e27;
    border-left: 1px solid grey;
}

@media (max-width: 576px) {
    .welcome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .welcome h2 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .welcome p {
        font-size: 1rem;
        margin-bottom: 2rem ;
        margin-left: 1rem;
    }

    
    .first-part {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    
    .garrafas, .papeis {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
    }
    
    .garrafas h3, .papeis h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .garrafas p, .papeis p {
        font-size: 1.2rem;
    }
    
    .papeis {
        margin-right: 0;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    
    .second-part {
        display: flex;
        align-items: center;
        margin-top: 0rem;
        flex-direction: column;
        gap: 2rem;
    }
    
    .latas, .vidro {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
    }
    
    .latas h3, .vidro h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .latas p {
        font-size: 1.2rem;
    }

    .vidro p {
        font-size: 1.1rem;
    }
    
    .vidro {
        margin-right: 0;
        margin-left: 0rem;
    }
    
    .vouchers {
        z-index: 2;
    }
    
    .title {
        display: flex;
        align-items: center;
        border-top: 2px solid #ccc;
        padding-top: 10px;
        margin-top: 2rem;
        margin-bottom: 20px;
        background-color: #0a0e27;
    }
    
    .title h3 {
        font-size: 20px;
        margin: 0;
    }
    
    
    .title {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        font-size: 1.7rem;
    }
    
    .tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cinema, .book, .restaurante {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 8rem;
        height: 12rem;
        margin-top: 2rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .cinema img, .book img, .restaurante img {
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;
    }
    
    .cinema h3, .book h3, .restaurante h3 {
        text-align: center;
        color: black;
    }
    
    .first-discounts {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .second-discounts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .discount-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .porcent {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 8rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent h3 {
        color: black;
        text-align: center;
    }
    
    .porcent button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        height: 3rem;
    }
    
    .porcent button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-10, .porcent-20, .porcent-last, .porcent-roupas {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 8rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent-10 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-10 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-10 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-20 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-20 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-20 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-last h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-last button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-last button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-roupas h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-roupas button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-roupas button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent img {
        margin-top: 0rem;
    }
    
    .porcent-10 img, .porcent-20 img, .porcent-last img, .porcent-roupas img {
        margin-top: 0rem;
    }
    
    .second-discounts {
        margin-bottom: 4rem;
    }
    .main-container{
        background-color: #0a0e27;
        border-left: 1px solid grey;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .welcome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .welcome h2 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .welcome p {
        font-size: 1rem;
        margin-bottom: 2rem ;
        margin-left: 1rem;
    }

    
    .first-part {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    
    .garrafas, .papeis {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
    }
    
    .garrafas h3, .papeis h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .garrafas p, .papeis p {
        font-size: 1.2rem;
    }
    
    .papeis {
        margin-right: 0;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    
    .second-part {
        display: flex;
        align-items: center;
        margin-top: 0rem;
        flex-direction: column;
        gap: 2rem;
    }
    
    .latas, .vidro {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
    }
    
    .latas h3, .vidro h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .latas p {
        font-size: 1.2rem;
    }

    .vidro p {
        font-size: 1.1rem;
    }
    
    .vidro {
        margin-right: 0;
        margin-left: 0rem;
    }
    
    .vouchers {
        z-index: 2;
    }
    
    .title {
        display: flex;
        align-items: center;
        border-top: 2px solid #ccc;
        padding-top: 10px;
        margin-top: 2rem;
        margin-bottom: 20px;
        background-color: #0a0e27;
    }
    
    .title h3 {
        font-size: 20px;
        margin: 0;
    }
    
    
    .title {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        font-size: 1.7rem;
    }
    
    .tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cinema, .book, .restaurante {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 8rem;
        height: 12rem;
        margin-top: 2rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .cinema img, .book img, .restaurante img {
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;
    }
    
    .cinema h3, .book h3, .restaurante h3 {
        text-align: center;
        color: black;
    }
    
    .first-discounts {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .second-discounts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .discount-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .porcent {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 8rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent h3 {
        color: black;
        text-align: center;
    }
    
    .porcent button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        height: 3rem;
    }
    
    .porcent button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-10, .porcent-20, .porcent-last, .porcent-roupas {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 8rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent-10 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-10 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-10 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-20 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-20 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-20 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-last h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-last button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-last button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-roupas h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-roupas button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-roupas button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent img {
        margin-top: 0rem;
    }
    
    .porcent-10 img, .porcent-20 img, .porcent-last img, .porcent-roupas img {
        margin-top: 0rem;
    }
    
    .second-discounts {
        margin-bottom: 4rem;
    }
    .main-container{
        background-color: #0a0e27;
        border-left: 1px solid grey;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .welcome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .welcome h2 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    .welcome p {
        font-size: 1rem;
        margin-bottom: 2rem ;
        margin-left: 1rem;
    }

    
    .first-part {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .garrafas, .papeis {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .garrafas {
        margin-bottom: 0;
    }
    
    .garrafas h3, .papeis h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .garrafas p, .papeis p {
        font-size: 1.2rem;
    }
    
    .papeis {
        margin-right: 0;
        margin-left: 0rem;
        margin-bottom: 0rem;
    }
    
    .second-part {
        display: flex;
        align-items: center;
        margin-top: 0rem;
        flex-direction: row;
        gap: 2rem;
    }
    
    .latas, .vidro {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
    }
    
    .latas h3, .vidro h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .latas p {
        font-size: 1.2rem;
    }

    .vidro p {
        font-size: 1.1rem;
    }
    
    .vidro {
        margin-right: 0;
        margin-left: 0rem;
    }
    
    .vouchers {
        z-index: 2;
    }
    
    .title {
        display: flex;
        align-items: center;
        border-top: 2px solid #ccc;
        padding-top: 10px;
        margin-top: 2rem;
        margin-bottom: 20px;
        background-color: #0a0e27;
    }
    
    .title h3 {
        font-size: 20px;
        margin: 0;
    }
    
    
    .title {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        font-size: 1.7rem;
    }
    
    .tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    
    .cinema, .book, .restaurante {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 12rem;
        height: 12rem;
        margin-top: 2rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .cinema img, .book img, .restaurante img {
        margin-top: 1rem;
        width: 4rem;
        height: 4rem;
    }
    
    .cinema h3, .book h3, .restaurante h3 {
        text-align: center;
        color: black;
    }
    
    .first-discounts {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .second-discounts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .discount-cards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 3rem;
    }
    
    .porcent {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 12rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent h3 {
        color: black;
        text-align: center;
    }
    
    .porcent button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        height: 3rem;
    }
    
    .porcent button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-10, .porcent-20, .porcent-last, .porcent-roupas {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 12rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent-10 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-10 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-10 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-20 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-20 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-20 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-last h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-last button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-last button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-roupas h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-roupas button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-roupas button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent img {
        margin-top: 0rem;
    }
    
    .porcent-10 img, .porcent-20 img, .porcent-last img, .porcent-roupas img {
        margin-top: 0rem;
    }
    
    .second-discounts {
        margin-bottom: 0rem;
    }
    .main-container{
        background-color: #0a0e27;
        border-left: 1px solid grey;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .welcome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .welcome h2 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    .welcome p {
        font-size: 1rem;
        margin-bottom: 2rem ;
        margin-left: 1rem;
    }

    
    .first-part {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .garrafas, .papeis {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .garrafas {
        margin-bottom: 0;
    }
    
    .garrafas h3, .papeis h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .garrafas p, .papeis p {
        font-size: 1.2rem;
    }
    
    .papeis {
        margin-right: 0;
        margin-left: 0rem;
        margin-bottom: 0rem;
    }
    
    .second-part {
        display: flex;
        align-items: center;
        margin-top: 0rem;
        flex-direction: row;
        gap: 2rem;
    }
    
    .latas, .vidro {
        background-color: #2288FF;
        border-radius: 2rem;
        width: 17rem;
        height: 12rem;
        margin-right: 0rem;
    }
    
    .latas h3, .vidro h3 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    
    .latas p {
        font-size: 1.2rem;
    }

    .vidro p {
        font-size: 1.1rem;
    }
    
    .vidro {
        margin-right: 0;
        margin-left: 0rem;
    }
    
    .vouchers {
        z-index: 2;
    }
    
    .title {
        display: flex;
        align-items: center;
        border-top: 2px solid #ccc;
        padding-top: 10px;
        margin-top: 2rem;
        margin-bottom: 20px;
        background-color: #0a0e27;
    }
    
    .title h3 {
        font-size: 20px;
        margin: 0;
    }
    
    
    .title {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        font-size: 1.7rem;
    }
    
    .tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    
    .cinema, .book, .restaurante {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 12rem;
        height: 12rem;
        margin-top: 2rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .cinema img, .book img, .restaurante img {
        margin-top: 1rem;
        width: 4rem;
        height: 4rem;
    }
    
    .cinema h3, .book h3, .restaurante h3 {
        text-align: center;
        color: black;
    }
    
    .first-discounts {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 3rem;
    }
    
    .second-discounts {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-left: 0rem;
        gap: 3rem;
    }
    
    .discount-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .porcent {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 12rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent h3 {
        color: black;
        text-align: center;
    }
    
    .porcent button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        height: 3rem;
    }
    
    .porcent button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-10, .porcent-20, .porcent-last, .porcent-roupas {
        background-color: #BEEFFF;
        border-radius: 2rem;
        width: 12rem;
        height: 12rem;
        margin-top: 4rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcent-10 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-10 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-10 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-20 h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-20 button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-20 button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-last h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-last button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-last button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent-roupas h3 {
        color: black;
        text-align: center;
    }
    
    .porcent-roupas button {
        background-color: #001D48;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        margin-top: 0rem;
        height: 3rem;
    }
    
    .porcent-roupas button  img{
        margin-top: 0;
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    
    .porcent img {
        margin-top: 0rem;
    }
    
    .porcent-10 img, .porcent-20 img, .porcent-last img, .porcent-roupas img {
        margin-top: 0rem;
    }
    
    .second-discounts {
        margin-bottom: 0rem;
    }
    .main-container{
        background-color: #0a0e27;
        border-left: 1px solid grey;
    }
}
