* {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
}


.container {
    display: flex;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container{
    background-color: #0a0e27;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    align-items: center;
}

.welcome h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.welcome p {
    font-size: 1.5rem;
    margin-bottom: 5rem ;
}

.tabelas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
}

.first-part {
    display: flex;
    align-items: center;
}

.garrafas, .papeis {
    background-color: #2288FF;
    border-radius: 2rem;
    width: 22rem;
    height: 12rem;
    margin-right: 3rem;

    h3 {
        margin: 1rem;
        font-size: 1.8rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.papeis {
    margin-right: 0;
    margin-left: 3rem;
}

.second-part {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.latas, .vidro {
    background-color: #2288FF;
    border-radius: 2rem;
    width: 22rem;
    height: 12rem;
    margin-right: 3rem;

    h3 {
        margin: 1rem;
        font-size: 1.8rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.vidro {
    margin-right: 0;
    margin-left: 3rem;
}

